@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = "Home Page";
}
<div class="col-lg-4"></div>
<div class="border border-dark col-lg-4">
	<h1 class="text-center">Login</h1>
	<form id="login-form">
		<div class="mb-3">
			<label for="user-name" class="form-label font-weight-bold">Username:</label>
			<input type="text" required class="form-control" id="user-name">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label font-weight-bold">Password:</label>
			<input type="password" required class="form-control" id="password">
		</div>
		<div class="text-center mb-2">
			<button type="button" id="login-button" class="btn btn-light border border-dark">Login</button>
			<button type="button" id="register-button" class="btn btn-light border border-dark">Register</button>
		</div>
		<div class="alert d-none" role="alert">
			<button type="button" class="close" id="close-alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div id="alert-message">
			</div>
		</div>
	</form>
</div>
<div class="col-lg-4"></div>

@section scripts
	{
	<script src="~/scripts/jquery.validate.min.js"></script>
	<script src="~/scripts/script.min.js?04102023"></script>
}

@section styles
	{
	<link href="~/styles/site.min.css" rel="stylesheet" />
}
